:root {
    --text-color: #ffffff;
    --text-hover-color: #e767bc;
    --gradient-color-0: #993b85;
    --gradient-color-50: #2f3aa3;
    --gradient-color-100: #1f5557;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #000000;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-image: 
        radial-gradient(circle at top right, var(--gradient-color-0) 0%, var(--gradient-color-50) 50%, var(--gradient-color-100) 100%),
        radial-gradient(circle at 20% 80%, var(--gradient-color-0) 0%, var(--gradient-color-50) 50%, var(--gradient-color-100) 100%);
    scroll-behavior: smooth;
    /*overflow-x: hidden;*/
}

.content{
    position: relative;
    z-index: 1;
    object-fit: contain;
    object-position: center;
}

/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--text-color);
    padding: .75rem 1rem;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.85);
    border-bottom: 2px solid rgba(0, 0, 0, .25);
    border-radius: 0px 0px 20px 20px;
    z-index: 1000;
}

.nav-container {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 20rem;
}

#header-spacer {
  height: 0;
}

/* Logo & Name */
.brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.brand img {
    height: 40px;
    width: auto;
    scale: 150%;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

/* Nav Links */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    min-width: 0;
    flex: 1 1 auto;
}

.nav-links a {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-container a:hover{
    color: var(--text-hover-color);
}

/* Stars Background */
canvas {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/* Scanlines */
.scan-lines{
    background: linear-gradient(var(--text-color), var(--text-color) 30%, transparent 50%, transparent 100%);
    background-size: 100% 7px;
    opacity: .05;
    animation: pan-overlay 16s cubic-bezier(1,2,1,1) infinite;
    z-index:999;
    pointer-events:none;
    position:fixed;
    inset:0
}
@keyframes pan-overlay {
    0% {
        background-position:0 0
    }
    to {
        background-position:0 -100%
    }
}

/*Other*/
.glass {
    backdrop-filter: blur(1.5px);
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
}

.home img {
    margin-top: auto;
    max-width: 25%;
    height: auto;
    border-radius: 30%;       
    border: 5px solid #333; 
    object-fit: cover;
}

#home-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home p {
    margin: 4px 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 
        -1.5px 1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px  1.5px 0 #000,
        1.5px  1.5px 0 #000;
}

#home-name {
    font-size: 4rem;
}