html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #000000;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-image: radial-gradient(circle at top right, #993b85 0%, #2f3aa3 50%, #1f5557 100%),
            radial-gradient(circle at 20% 80%, #993b85 0%, #2f3aa3 50%, #1f5557 100%);
    /*overflow-x: hidden;*/
}

.content{
    position: relative;
    z-index: 1;
    object-fit: contain;
    object-position: center;
}

/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: .75rem 1rem;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.85);
    border-bottom: 2px solid rgba(0, 0, 0, .25);
    border-radius: 0px 0px 20px 20px;
    z-index: 1000;
}

.nav-container {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 20rem;
}

/* Logo & Name */
.brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.brand img {
    height: 40px;
    width: auto;
    scale: 150%;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Nav Links */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    min-width: 0;
    flex: 1 1 auto;
}

.nav-links a {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-container a:hover{
    color: #e767bc;
}

/* Stars Background */
canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Scanlines */
.scan-lines{
    background: linear-gradient(#ffffff, #ffffff 30%, transparent 50%, transparent 100%);
    background-size: 100% 7px;
    opacity: .05;
    animation: pan-overlay 16s cubic-bezier(1,2,1,1) infinite;
    z-index:999;
    pointer-events:none;
    position:fixed;
    inset:0
}
@keyframes pan-overlay {
    0% {
        background-position:0 0
    }
    to {
        background-position:0 -100%
    }
}

/*Other*/
.glass {
    backdrop-filter: blur(1.5px);
}